.img1
{

position:absolute;
top:230px;
left:100px;
color:#DA532C;
}

.img2
{

position:absolute;
top:230px;
left:700px;
color:#DA532C;
}

.name
{
color:#2BBDCB;
font-size:40px;
text-align:center;
position:relative;
top:210px;
left:362px;

}
.registerbox
{
position:relative;
top:261px;
left:172px;
background-color:#ffe1f0;
width:729px;
color:#7D26CD;
text-align:center;
border:solid 2px #7D26CD;
border-radius:25px;
}

.heading
{
color:#551A8B;
text-align:center;
font-size:30px;
font-style:italic;

}

.registerbox hr
{
border:3;
height:20px;
background-color:#7D26CD ;
color: #7D26CD;
}
.content
{
text-align:center;

}
.registerbox input[type="submit"]{

background-color:#7D26CD;
border-radius:25px;
color:white;
width:130px;
}