.staffdiv
{
position:absolute;
top:202px;
left:273px;
height:366px;
width:644px;
background-color:#B91D47;
color:white;

}
.tabdiv
{
position:absolute;
top:603px;
left:273px;
width:644px;


}

.viewTable tr
{
		
		color:#B91D47;
		font-weight:bold;
	line-height:30px;
}
.viewtable tr:nth-child(odd)
{
	background:#eabbc7;
}
.viewtable tr:nth-child(even)
{
	background:#f6e7e2;
}

.viewTable
{
	width:100%;
	text-align:center;
}