
.menubar
{	position:absolute;
	top:146px;
	left:275px;
	z-index:10;
}
nav ul ul 
{
	display: none;
}

nav ul li:hover > ul 
{
		display: block;
}
nav ul li:active > ul 
{
		display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}

nav ul li:hover a{
    background-color: white;
	color:#f06b69; 
}
nav ul li:active a{
    background-color: white;
	color:#f06b69;
}


nav ul li a {
     width: 120px;
	height:40px;
     display: block;
    color: white;
    background-color:#f06b69;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}

nav ul ul {
	background: white;
		position: absolute; top: 100%;
}

nav ul ul li {
		float: none; 
		position: relative;
}
		
nav ul ul li a
{   			    width: 120px;
	
     display: block;
    color: white;
	    text-transform:none;
			
}
			
nav ul ul li:hover a
{		color:white;
		background: #f06b69;
}



